/* body styles */
body {
    background-image: url(../images/tangrunge.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.mainlogo {
     width: 35%;
     float: left; 
     margin-bottom: 15px;
}

header img {
     margin: 0 auto 0 auto;
}
.one-col-img-right {
     float: right; 
     margin: 0 0 15px 15px;
     /*width: 100%;*/
}
.multi-col-img-right {
    float:right; 
    width: 40%; 
    margin: 0 0 15px 15px;
    /*text-align: center;*/
}
figure > figcaption {
     font-size: .75em; 
     text-align: center;
}
a {
  color: #5a5d26;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #5a5d26;
  text-decoration: underline;
}
.navbar {
    margin-bottom: 10px;
}
h1 {
     background-color: #663300; 
     color: #F2DDAE; 
     padding: 10px 0 10px 15px; 
     margin-left: 0px;
}
/* h1 gradient for page headings */
.heading {
	font-family: Arial;
	font-size: 2em;
	font-style: normal;
	color: white;
	background-color: #634126;
    /*brown*/
    background: -moz-linear-gradient(left,  rgba(99,65,38,1) 0%, rgba(99,65,38,1) 62%, rgba(238,217,170,1) 99%, rgba(242,221,174,0.01) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(99,65,38,1)), color-stop(62%,rgba(99,65,38,1)), color-stop(99%,rgba(238,217,170,1)), color-stop(100%,rgba(242,221,174,0.01))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(99,65,38,1) 0%,rgba(99,65,38,1) 62%,rgba(238,217,170,1) 99%,rgba(242,221,174,0.01) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(99,65,38,1) 0%,rgba(99,65,38,1) 62%,rgba(238,217,170,1) 99%,rgba(242,221,174,0.01) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(99,65,38,1) 0%,rgba(99,65,38,1) 62%,rgba(238,217,170,1) 99%,rgba(242,221,174,0.01) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(99,65,38,1) 0%,rgba(99,65,38,1) 62%,rgba(238,217,170,1) 99%,rgba(242,221,174,0.01) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#634126', endColorstr='#03f2ddae',GradientType=1 ); /* IE6-8 */
    margin-bottom: 20px;
}
.row.home-top-round {
    background-color: #F0D79E; 
    padding-top: 15px; 
    border: 5px solid #50341F;
  	-webkit-border-top-left-radius: 1.5em;
	-moz-border-top-left-radius: 1.5em;
    border-top-left-radius: 1.5em;
  	-webkit-border-top-right-radius: 1.5em;
	-moz-border-top-right-radius: 1.5em;
    border-top-right-radius: 1.5em;

}
.page-top-round {
    background-color: #F0D79E; 
    padding-top: 15px; 
    border: 5px solid #50341F;
  	-webkit-border-top-left-radius: 1.5em;
	-moz-border-top-left-radius: 1.5em;
    border-top-left-radius: 1.5em;
  	-webkit-border-top-right-radius: 1.5em;
	-moz-border-top-right-radius: 1.5em;
    border-top-right-radius: 1.5em;

}
h3 {
    color: #663300;
    font-size: 1.5em;
    margin-bottom: 0;
    margin-bottom: 15px;
}
.row.container-height {
	overflow: hidden; 
}

.row.container-height > [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
/* Responsive iFrame for Google Calendar */
.responsive-iframe-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}

.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
/* rules for the contact page */
.contact h4 {
    line-height: .75em;
    color: #663300;
}
.contact p {
    line-height: .75em;
    color: #663300;
}
.contact img {
    margin: 15px 0 15px 0;
}
.pad0 {
    padding-right: 0px;
    padding-left: 0px;
}
.navbar-inverse {
  background-color: #51351f; /*brown*/
  border-color: #080808; /*black*/
}
.navbar-inverse .navbar-brand {
  color: #9d9d9d; /*light gray*/
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: red;
  /*color: #fff;*/
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #9d9d9d; /*light gray*/
}
/*navbar text color here*/
.navbar-inverse .navbar-nav > li > a {
    /*old color: #9d9d9d;*/  /*light gray*/
  color: white;
}
/*this section for main navbar hover and focus*/
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  /*old color: #fff; white*/
  color: #663300; /*dark brown*/
  /*background-color: transparent;*/
  background-color: #dda75a; /*light brown*/
}
/*main navbar active selection*/
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff; /*white*/
  /*old background-color: #080808; black*/
  background-color: #884502; /*dark brown*/
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
    color: red;
  /*old color: #444; dark grey*/
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #333; /*black*/
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #333; /*black*/
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff; /*white*/
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #101010; /*black*/
}
/*drop down list heading colors*/
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  /*color: #fff;*/
  color:  #884502; /*dark brown*/
  background-color: #F0D79E; /*tan*/
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d; /*light gray*/
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    /*color: #fff;*/
    color: #F0D79E;  /*tan*/
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    /*color: #fff;*/
    color: #F0D79E;  /*tan*/
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444; /*dark gray*/
    background-color: transparent;
  }
}
.navbar-inverse .navbar-link {
  color: #9d9d9d; /*gray*/
}
.navbar-inverse .navbar-link:hover {
    color: #F0D79E; /*tan*/
  /*color: #fff;*/
}
.navbar-inverse .btn-link {
  color: #9d9d9d; /*gray*/
}
.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
    color: #F0D79E; /*tan*/
  /*color: #fff;*/
}
.navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
  color: #444; /*dark gray*/
}

/*carousel styles*/
.carousel {
    margin-bottom: 15px;
}
.carousel-inner > .item >img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}
.carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
}
.carousel-caption > h2 {
    padding-bottom: 25%;
}
  .carousel-indicators {
    bottom: 10px;
}
  /* Section styles*/
section img {
    float: left;
    margin: 0px;
}
/* Aside layout */

aside img {
	display: block;
    min-width: 80%;
    float: none;
    /*margin: 0 auto 0 auto;*/
    margin-bottom: 20px;
}

.donate img {
    float: none; 
    display: block; 
    margin: 20px auto 0 auto; 
    width: 65%; 
}
.home-right img {
    float: none; 
    display: block; 
    margin: 0 auto 20px auto; 
}
.archive img {
    float: none;
    display: block;
    margin: 20px auto 15px auto;
}
}
.navbar-inverse {
    background-color: #51351f;
    /*border-color: #663300;*/
}
footer {
     border-top-style: solid; 
     border-color: #663300; 
     color: #663300; 
     background-color: #F0D79E; 
     text-align: center; 
     margin-top: 1.5em;
}
/* ---------------- Nav Tabs --------------------- */
.nav-tabs {
  border-bottom: 1px solid #51351F;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav-tabs > li {
    background-color: #51351F;
    color: ;
    color: white;
}
.nav-tabs > li > a {
    color: white;
}
.nav-tabs > li > a:hover {
    background-color: #DDA75A;-color: 
   D79E #F0D79E #F0D75A;*/
}
/*-------------- A--- ACTIVE MODIFIED-------------------*/
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: white;
  cursor: default;
  background-color: #884502;
  border: 1px solid #F0D79E;
  border-bottom-color: tra1px solid #ddd;
  border-bottom-color: transparent;
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
}
.nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
